#container{
    width: 600px ;
    height:600px;
border: 1px solid black ;

}

#circle{
    width: 60px ;
    height:60px;
    border-radius : 40px;
border: 1px solid black ;

}
#body{
    position: relative
}