*{
margin: 20 px
}
.root{
    display: flex;
    flex-wrap: wrap;
}
#elem1 #elem2 #elem3 #elem4{
 width : 60px;
 height : 60px;
 border: 1px solid grey;
 padding: 22px;
}

.colored{
    width : 60px;
 height : 60px;
 border: 1px solid grey;
    background-color: blue;
}

.uncolored{

background-color: black;
}