.nbr{
    border : 1px  solid  black;
    pad :30 px;
    margin : 30px;
    width :70px;
}
#app{
    display: flex;
    border : 1px  solid  black;
}
#pts{
    width: 4px;
    padding-top :20 px;
    padding-bottom: 20px;
    margin : 0px;
    font-size: 2m;
}
.hidden{
    /* display : none; */
    color-white
}